body{
    background-color: #ffd2c8;
}

.header p{
    border: solid;
    border-radius: 5px;
    margin: 20px, 10px, 10px, 10px;
    padding: 20px;
    background-color: #ffece8;
}

.coqu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    color: #8c0c4c;
    font-family: "Train One", serif;
    font-weight: 400;
    font-style: normal;

}

.perso{
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: #640844;
}

h1{
    margin: 20px;
    color: #640844;
    text-align: center;
    font-family: "Tilt Prism", serif;
    font-size: 50px;
}

.recette{
    display: flex;
    flex-direction: row;
    border: solid;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffece8;

}

.teterecette{
    flex: 1;
    padding: 10px;
    font-size: small;
}

.pararecette{
    flex: 6;
    padding: 10px;
}



.comm1{
    display: flex;
    flex-direction: row;
    border: solid, 1px;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffece8;

}

.tetecomm1{
    flex: 1;
    padding: 10px;
    font-size: small;
}

.paracomm1{
    flex: 6;
    padding: 10px;
}


.comm2{
    display: flex;
    flex-direction: row;
    border: solid, 1px;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffece8;
}

.tetecomm2{
    flex: 1;
    padding: 10px;
    font-size: small;
}

.paracomm2{
    flex: 6;
    padding: 10px;
}
